/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.box {
  padding: 2%;
  margin: 0.5%;
}
.centering {
  display: flex;
  justify-content: center;
}
header section {
  background-color: darkslategrey;
  margin: 1%;
}
header section nav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
@media (max-width: 500px) {
  header section nav {
    flex-direction: column;
    padding: 2%;
    margin: 0.5%;
  }
}
header section nav a {
  padding: 2%;
  text-decoration: none;
  color: white;
  text-align: left;
  text-align: center;
}
a:hover {
  color: coral;
}
header article {
  padding: 2%;
}
header article div {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 1%;
}
@media (max-width: 500px) {
  header article div {
    text-align: center;
  }
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  padding: 1%;
}
main {
  border-top: dotted 0.1rem black;
  border-bottom: dotted 0.1rem black;
  margin: 1%;
  padding: 2%;
}
main #firstsection {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  main #firstsection {
    display: block;
  }
}
main #firstsection span {
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border: black 0.05rem solid;
}
@media (max-width: 500px) {
  main #firstsection span {
    display: block;
    width: 100%;
  }
}
main #firstsection span div {
  padding: 5%;
  font-size: 1.2rem;
}
h2 {
  font-size: 1.5rem;
}
#firstsection img {
  height: 50%;
  width: 40%;
}
@media (max-width: 500px) {
  #firstsection img {
    width: 100%;
  }
}
object {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  object {
    justify-content: center;
  }
}
object article {
  width: 50%;
  height: 50%;
}
object article ul {
  text-align: left;
  font-size: 1.4rem;
  padding: 8%;
}
object article ul span {
  font-size: 1.2rem;
}
object #lastsection {
  width: 50%;
  height: 50%;
}
object #lastsection ul {
  text-align: left;
  font-size: 1.4rem;
  padding: 8%;
}
object #lastsection ul span {
  font-size: 1.2rem;
}
h3 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
footer {
  background-color: darkslategrey;
  height: 10%;
}
footer nav {
  border-top: dotted 0.1rem black;
}
footer nav a {
  color: black;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding: 0.5%;
}
